<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test name="chromeTest">
  	<parameter name="os" value="Windows" />
  	<parameter name="browser" value="Chrome" />
    <classes>
      <class name="testCases.TC001_HospitalsAvailabilityTest"/>
      <class name="testCases.TC004_LoginAuthentication"/>
      <class name= "testCases.TC002_NearbyDoctors"/>
      <class name="testCases.TC005_SearchHealthArticles"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="edgeTest">
  	<parameter name="os" value="Windows" />
  	<parameter name="browser" value="Edge" />
    <classes>
      <class name="testCases.TC001_HospitalsAvailabilityTest"/>
      <class name="testCases.TC004_LoginAuthentication"/>
      <class name= "testCases.TC002_NearbyDoctors"/>
      <class name="testCases.TC005_SearchHealthArticles"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
